@import url('https://fonts.googleapis.com/css?family=Bungee|Iceland|Nova+Square|Righteous|Squada+One');
body{
  /*background-color: #F9A946;*/
  font-family: 'Iceland', cursive;
  font-size: 14pt;
  color: #1455A7;
}
canvas {
  background: black;
  display: block;
  /*margin: 0 auto;*/
  /*margin-top: 30px;
  margin-bottom: 30px;*/
  border: 4px solid #7CBF4B;
  border-radius: 5px;
  display:inline-block;
}

h1 {
  text-align: center;
}

h2 {
  /*padding-top: 20px;*/
  color: #F14B55;
}

img {
  width: 500px;
  display: block;
  margin: auto;
  /*margin-right: 295px;*/
}
.header{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F9A946;
}
.body{
  background-color: #6AC6ED;
  padding-top: 40px;
  /*padding-bottom: 20px;*/
}
.directions {
  width: 450px;
  margin-left: 10px;

  /*margin: auto;
  margin-top: 20px;*/
}
.direction-section{
  float:right;
  /*background-color: #F9A946;*/
  height: 100%;
}
